# Byte-compiled / optimized / DLL files
__pycache__/
*.mp3
*.flac
*.mp3
*token.txt
.DS_Store
read_token.py
.ipynb_checkpoints/

## Pylint
pylintrc

## VoxConverse Data
hf_voxconverse_data/
voxconverse_data/
voxconverse_labels/

## Performance Metrics Results
cache/
evaluation_results/

## venv
.venv
venv/
py3-12-venv/