# Byte-compiled / optimized / DLL files
__pycache__/
*.mp3
*.flac
*.mp3
.DS_Store
read_token.py

## Pylint
pylintrc

## VoxConverse Data
voxconverse_data/
voxconverse_labels/

## Performance Metrics Results
cache/
results/

## venv
.venv